#home .helloImJulius {
  align-self: left; overflow: hidden; border-right: .15em solid rgb(255, 255, 255); white-space: nowrap; letter-spacing: .15em; animation: typing 1.7s steps(25, end), blink-caret .75s step-end infinite;  }
  @keyframes typing { from { width: 0 } to { width: 35%} }
  @keyframes blink-caret { from, to { border-color: transparent } 50% { border-color: rgb(255, 255, 255); } }
.animate { animation: animate 1.5s 2s forwards;}
@keyframes animate { from { height: 100vh;} to { height: 40vh;} }
#home .header { animation: showheader 1s 2s forwards; }
  @keyframes showheader { from { transform: translateY(-100%);} to { transform: translateY(0%);} }
#home .heroDesc .rich-text, .heroDesc .learnMoreAboutMe { opacity: 0; animation: showdesc 1s 2s forwards;}
  @keyframes showdesc { from{opacity: 0;} to{opacity: 1;}}