#home {
  padding: 25% 25%;
  overflow: hidden;
}
#home .wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
}
#home .julius { 
  display: flex;
  width: 50vw;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.console1, .console2, .console3, .socials {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  gap: 5px;
}
.console3 {
  gap: 10px;
}
.console2 a {
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.console2 a:hover {
  cursor: pointer;
  text-decoration-line: underline;
}
#more, #links {
  color: #707CE6;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
}
.console1 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 1s steps(40, end),
    blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 19% }
}
.console2 {
  overflow: hidden;
  width: 0;
  white-space: nowrap;
  animation: console2 1.5s 1.5s forwards steps(40, end);
}

@keyframes console2 {
  from { width: 0 }
  to { width: 60% }
}
.console3 {
  transform: translateY(150%);
  overflow: hidden;
  white-space: nowrap;
  transition: 0.5s;
  animation: console3 0.5s 3.5s forwards steps(40, end);
}

@keyframes console3 {
  from { transform: translateY(150%);}
  to { transform: translateY(0%);}
}