#theme1 .logo {
    position: absolute;
    width: 5vw;
    height: 5vh;
    bottom: 5vh;
    left: 5vh;
    background: url('/public/icons/logo.png') 50% / contain no-repeat;
}
#theme1 .background {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #dfdfdf, #c698c8, #420345, #420345);
    background-size: 800% 800%;

    -webkit-animation: mixmatch 16s ease infinite;
    animation: mixmatch 16s ease infinite;
}
@-webkit-keyframes mixmatch {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
@keyframes mixmatch {
    0%{background-position:0% 22%}
    50%{background-position:100% 79%}
    100%{background-position:0% 22%}
}
body #theme1{
    padding: 40px;
    flex: 1 0 0;
    flex-direction: column;
}
#theme1 div:nth-child(1), 
#theme1 div:nth-child(2) {
    align-items: flex-start;
    align-self: stretch;
    flex: 1 0 0;
}
#theme1 div h1 {
    color: var(--theme-text-primary);
    font-size: clamp(3rem, 5vw, 5rem);
    font-weight: 400;
    text-transform: uppercase;
    mix-blend-mode: difference;
}
#theme1 div p, a, button{
    color: var(--theme-text-primary);
    font-size: clamp(1.2rem, 2vw, 1.8rem);
    font-weight: 200;
    text-transform: lowercase;
    text-decoration: none;
    mix-blend-mode: difference;
    border: none;
    background-color: transparent;
}
#theme1 div a:hover {
    text-decoration: underline;
}
#theme1 div button:hover {
    text-decoration: underline;
}
#theme1 div li {
    mix-blend-mode: difference;
    list-style: none;
    flex-direction: column;
    align-items: end;
}
/*[top bar]*/
#theme1 div:nth-child(1) .container:nth-child(1) {
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
#theme1 div:nth-child(1) .container:nth-child(2) {
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    flex: 1 0 0;
    align-self: stretch;
}
/*[bottom bar]*/
#theme1 div:nth-child(2) .container:nth-child(1) {
    flex: 1 0 0;
}
#theme1 div:nth-child(2) .container:nth-child(1) .wrap{
    flex-direction: column;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
}
#theme1 div:nth-child(2) .container:nth-child(2) {
    justify-content: flex-end;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}
#theme1 div:nth-child(2) .container:nth-child(2) h1 {
    text-align: right;
}
@media only screen and (max-width: 680px) {
    #theme1 .logo {
        width: 8vw;
        height: 8vh;
    }
    #theme1 div:nth-child(2) {
        flex-direction: column;
    }
}
@media only screen and (max-width: 480px) {
    body {
        max-height: 95vh;
    }
    body #theme1{
        padding: 10px 30px;
        flex: 1 0 0;
        flex-direction: column;
    }
    #theme1 .logo {
        width: 12vw;
        height: 3vh;
        bottom: 8vh;
        left: 6vw;
    }
    #theme1 .background {
        background: url('/public/images/gradient.png') 20% / cover no-repeat; 
    }
    #theme1 div:nth-child(1) {
        flex-direction: column;
    }
    /*[bottom bar]*/
    #theme1 div:nth-child(2) .container:nth-child(1) .wrap {
        flex-direction: row;
        align-items: flex-end;
    }
}
body #env{
    width: 100vw;
    height: 100%;
    padding: 20px;
    align-items: flex-start;
    gap: 10px;
}
body #home{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #1E1F23;
}