.hello-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xl);
}
.hello-child {
  position: relative;
  font-size: 1.5rem;
}
.contact- {
  width: max-content;
}
.contact-,
.vector-icon {
  position: relative;
}
.brightonlunahealthco {
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-microsoft-yahei);
  color: var(--color-royalblue);
  text-decoration: none;
  cursor: pointer;
}
.contact {
  background-color: var(--color-gray-100);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
  gap: var(--gap-mini);
}
#profile a {
  font-size: var(--font-size-base);
  text-decoration: none;
}
.social {
  position: relative;
  color: inherit;
  cursor: pointer;
}
.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-royalblue);
  font-family: var(--font-microsoft-yahei);
}
.readcv {
  position: relative;
  font-size: var(--font-size-sm);
  text-decoration: underline;
  font-family: var(--font-microsoft-yahei);
  color: var(--color-royalblue);
  cursor: pointer;
}
.redirects,
.hero {
  display: flex;
  align-items: flex-start;
}
.redirects {
  border-radius: var(--br-8xs) 0 0 var(--br-8xs);
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--font-size-base);
}
.hero {
  align-self: stretch;
  height: 28.13rem;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-31xl);
  box-sizing: border-box;
  gap: var(--gap-6xl);
}
.card-head {
  align-self: stretch;
  position: relative;
  white-space: pre-wrap;
}
.card-context {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-base);
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.category-card01, .category-card02,
.category-desc,
.desc {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.desc {
  background-color: var(--color-gray-300);
  backdrop-filter: blur(10px);
  justify-content: flex-end;
  padding: var(--padding-8xs);
  gap: var(--gap-xl);
}
.category-card01,
.category-desc, .category-card02,
.category-desc {
  padding: var(--padding-xl);
}
.category-desc {
  flex: 1;
  justify-content: flex-end;
  background-image: url(../../../images/categorydesc1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-card01, .category-card02 {
  background-color: var(--color-gray-100);
  width: 43.13rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  box-sizing: border-box;
  color: var(--color-black);
}
.category-card01, .category-card02, .category-card03, .category-card04, .category-card05 {
  width: 30vw;
  min-width: 300px;
}
.category-desc1 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-xl);
  background-image: url(../../../images/categorydesc2.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-desc1,
.category-desc2,
.desc2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
}
.desc2 {
  background-color: var(--color-gray-400);
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-8xs);
  gap: var(--gap-xl);
}
.category-desc2 {
  flex: 1;
  padding: var(--padding-xl);
  background-image: url(../../../images/categorydesc3.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-card3,
.category-desc2,
.category-desc3 {
  flex-direction: column;
  align-items: flex-start;
}
.category-card03 {
  align-self: stretch;
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding: var(--padding-xl);
  box-sizing: border-box;
}
.category-desc3 {
  flex: 1;
  justify-content: flex-end;
  background-image: url(../../../images/categorydesc4.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-card04,
.category-card05,
.category-desc3,
.category-desc4 {
  align-self: stretch;
  display: flex;
  padding: var(--padding-xl);
}
.category-card04 {
  background-color: var(--color-gray-100);
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.category-card05,
.category-desc4 {
  align-items: flex-start;
}
.category-desc4 {
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(../../../images/categorydesc5.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.category-card05 {
  background-color: var(--color-gray-100);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
}
.container,
.home-page {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container {
  align-self: stretch;
  flex: 1;
  overflow-x: auto;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  gap: var(--gap-xl);
  font-size: var(--font-size-3xl);
  padding-bottom: 20px;
}
::-webkit-scrollbar {
  margin-top: 15px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
  height: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  height: 5px;
}
.home-page {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: var(--gap-6xl);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-white);
  font-family: var(--font-ibm-plex-mono);
}
.expand-text {
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: inherit;
  -webkit-box-orient: vertical;
}
@media screen and (max-width:1110px) {
  .redirects {
    align-self: stretch;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 960px) {
  .im-a-ui {
    align-self: stretch;
    width: auto;
  }
  .category-desc,
  .desc {
    border-radius: var(--br-8xs);
  }
  .category-desc1,
  .category-desc2,
  .desc2 {
    border-radius: var(--br-8xs);
  }
  .category-desc3 {
    border-radius: var(--br-8xs);
  }
  .category-desc4 {
    border-radius: var(--br-8xs);
  }
}
@media screen and (max-width: 520px) {
  .home-page {overflow-y: scroll;
  height: auto;}
  .redirects {
    flex-direction: column;
  }
  .hero {
    padding-left: var(--padding-11xl);
    padding-right: var(--padding-11xl);
    box-sizing: border-box;
    height: 800px;
  }
  .category-desc,
  .desc {
    border-radius: var(--br-8xs);
  }
  .category-card01, .category-card02, .category-card03, .category-card04, .category-card05 {
    align-self: stretch;
    width: auto;
    height: max-content;
    min-height: 22.81rem;
  }
  .category-desc1,
  .category-desc2,
  .desc2 {
    border-radius: var(--br-8xs);
  }
  .category-desc3 {
    border-radius: var(--br-8xs);
  }
  .category-desc4 {
    border-radius: var(--br-8xs);
  }
  .container {
    height: auto;
    flex-direction: column;
    gap: var(--gap-xl);
    align-items: center;
    justify-content: flex-start;
  }
}
  